# Ignore everything by default
*

# Allow root configs
!package.json
!pnpm-lock.yaml
!turbo.json
!pnpm-workspace.yaml

# Allow ONLY required apps
!apps/neodraw-frontend/**
!apps/http-backend/**

# Allow shared packages
!packages/**

# Ignore heavy/unnecessary stuff
**/node_modules
**/.next
**/dist
**/build
**/.git
**/.env*
**/*.log
coverage